<style>
thead tr b {
  font-weight:bold;
}
#tempAnchor:hover {
  cursor:pointer;
}
</style>
<div class="row">
<div class="col-md-12">
<div class="panel panel-default">
<div class="panel-heading" style ="background-color:#CEECF5; height:50px;">
   <h2 class="panel-title" style="font-weight:bold" ng-if = "sharingData.length > 0">Shared Data</h2>
    <h2 class="panel-title" style="font-weight:bold" ng-if = "sharingData.length == 0">Nobody have shared with you</h2>
    <div class="actions pull-right">
    <i data-fullscreen-widget class="fa fa-expand"></i>
    <i data-widget-toggle class="fa fa-chevron-down"></i>
                       <!-- <i data-widget-close class="fa fa-times"></i> -->
    </div>
</div>
<div class="panel-body" ng-show = "sharingData.length > 0">
	<div class="table-responsive">
	<table class="table table-bordered" id="datatable">
	<thead>
		<tr> 
		<th><b>Data Share</b></th>
		<th><b>Shared From</b></th>
		<th><b>From</b></th>
		<th><b>To</b></th>
		<th><b>Expire</b></th>
		<th class="col-sm-1"></th>
	 	</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in filteredData" ng-if="item.confirmStatus == 'Acknowledged'">
		<td><a ng-click = "categoryDetail(item)" style = "color:#3380FF; font-weight:bold" id = "tempAnchor"> {{item.name}} </a> </td>
		<td>{{item.myName}}</td>
		<td> <span> {{toNormalDate(item.startdatetime)}}  </span> {{normalDate}}</td>
		<td> <span> {{toNormalDate(item.enddatetime)}}  </span> {{normalDate}} </td>
		<td> <span> {{compareDate(item.enddatetime)}} </span> {{result}} </td>
		<td class="col-sm-1">  <i class="pull-right btn btn-danger btn-xs" ng-click="deleteAgreementView(item)" style="margin-right: 10px;"><span class="glyphicon glyphicon-remove" tooltip="Delete"></span></i> </td>
		</tr>
	</tbody>
	</table>

	<uib-pagination boundary-links="true" total-items="totalItems" ng-model="fileVar.currentPage" class="pagination-sm"
                      ng-change="changePage()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                      last-text="&raquo;" items-per-page="fileVar.numPerPage" style="margin: 0;">
      </uib-pagination>

	</div>	
</div>


<!-- Descriptor data -->
<div class="panel-body" ng-show = "desInfo.length > 0" style = "width:50%">
	<h2 class="panel-title" style="font-weight:bold; margin-bottom:10px"> Detail </h2>
	<div class="table-responsive" >
	<table class="table table-bordered" id="datatable">
	<thead>
		<tr> 
		<th><b>Descriptor</b></th>
		<th><b>Type</b></th>
		<th><b>Value</b></th>
	 	</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in desInfo">
		<td> {{item.name}} </a> </td>
		<td> {{item.vaultvalues[item.vaultvalues.length - 1].type}} </td>
		<td><span> {{checkDescriptorValue(item.vaultvalues[item.vaultvalues.length - 1])}} </span> {{descriptorReturn}}</td>
		</tr>
	</tbody>
	</table>
	</div>	
</div>

</div>
</div>
</div>