<h2>Add/Delete Elements</h2>
<div class="row">
    <div class="col-md-4" >
        <p> Please select which section to add elements</p>
        <ul ng-repeat = "item in processSec.sections">
            <li> {{item.name}}  
            <span> <input type="checkbox" ng-model='item.elements'> </span> </li> 
        </ul>
    </div>
    <div class="col-md-8">
        <table class ="table table-bordered" >
        <thead>
          <tr> 
          <th>Name</th>
          <!-- <th>Shared With</th> -->
          <th>PlaceHolder</th>
          <th>Required</th>
          <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td><input type="text" style ="height:30px;" ng-model='dataElements.name'></td>
        <!-- <td>{{item.nameShare}}</td> -->
        <td><input type="text" style ="height:30px;" ng-model='dataElements.placeholder'></td>
        <td><select ng-init = "dataElements.required = elementRequire[0]" ng-model = "dataElements.required"
            ng-options="label for label in elementRequire" class="form-control"></td>
        <td><select ng-init = "dataElements.type = elementType[0]" ng-model = "dataElements.type"
            ng-options="label for label in elementType" class="form-control"> </select>  </td>
        </tr>
        </tbody>
        </table>


 
    <div class="panel panel-default col-md-12" ng-if= "dataElements.type == 'single select' || dataElements.type == 'multiple select'">
    <div class="panel-heading">
    <h3 class="panel-title" style="font-weight:bold">Preview: {{dataElements}}</h3>
    <div class="actions pull-right">
        <i data-fullscreen-widget class="fa fa-expand"></i>
        <i data-widget-toggle class="fa fa-chevron-down"></i>
    </div>
    </div>
    <div class="panel-body row">

        <label class="col-sm-2 control-label" ng-if= "dataElements.type == 'single select' || dataElements.type == 'multiple select'"> Enter options </label>
        <div class="col-sm-10"><input ng-if= "dataElements.type == 'single select' || dataElements.type == 'multiple select'" type="text" class="form-control" placeholder="option1 option2 option3"
                ng-model = "options.toAdd" required>
        <a class="btn btn-sm btn-success"style="margin-top:10px" ng-if= "dataElements.type == 'single select' || dataElements.type == 'multiple select'" ng-disabled = "!options.toAdd" ng-click = "addOption(options)">Save Option</a>
        </div>

        
        <label style="margin-top:20px" class="col-sm-2 control-label" ng-if= "dataElements.type == 'single select' && dataElements.name"> {{dataElements.name}} </label>
        <select style="margin-top:20px; margin-left:10px" class="col-sm-4" ng-init = "options.choose = optionModify[0]" ng-if= "dataElements.type == 'single select' && dataElements.name" ng-model = "options.choose"
            ng-options="label for label in optionModify" class="form-control"> </select> 
        
        <label style="margin-top:20px" class="col-sm-2 control-label" ng-if= "dataElements.type == 'multiple select' && dataElements.name"> {{dataElements.name}} </label>
        <select multiple style="margin-top:20px; margin-left:10px" class="col-sm-4" ng-init = "options.choose = optionModify[0]" ng-if= "dataElements.type == 'multiple select' && dataElements.name" ng-model = "options.choose"
            ng-options="label for label in optionModify" class="form-control"> </select> 


        <!-- <label ng-if= "dataElements.type == 'label' && dataElements.name" class="col-sm-12 control-label">  {{dataElements.name}} </label>

        <label class="col-sm-2" ng-if= "dataElements.type == 'checkbox' && dataElements.name"> {{dataElements.name}} </label>
        <div ng-if= "dataElements.type == 'checkbox' && dataElements.name"><input type="checkbox" style="width:17px;" required></div>

        <label class="col-sm-2 control-label pull-left" ng-if= "dataElements.type == 'text' && dataElements.name"> {{dataElements.name}} </label>
        <div class="col-sm-10"><input ng-if= "dataElements.type == 'text' && dataElements.name" type="text" class="form-control" placeholder="{{dataElements.placeholder}}"
                              required>
        </div>

        
        <label class="col-sm-2 control-label" ng-if= "dataElements.type == 'textarea' && dataElements.name"> {{dataElements.name}} </label> 
        <div class="col-sm-10"><textarea ng-if= "dataElements.type == 'textarea' && dataElements.name" class="form-control" rows="3"  placeholder="{{dataElements.placeholder}}" required></textarea> </div>  -->

        

    </div>  
    </div>
    </div>

    <div class="col-md-8 pull-right" ng-show = "processSec.sections[0].fields.length > 0">
        <div class="panel panel-default col-md-12">
        <div class="panel-heading">
        <h3 class="panel-title" style="font-weight:bold">Elements</h3>
        <div class="actions pull-right">
            <i data-fullscreen-widget class="fa fa-expand"></i>
            <i data-widget-toggle class="fa fa-chevron-down"></i>
            <i class="glyphicon glyphicon-remove" tooltip="Cancel" ng-click = "endView()"></i>
        </div>
        </div>
        <div class="panel-body">
            <table class ="table table-bordered" ng-repeat = "section in processSec.sections">
            <h2> {{section.name}} </h2>
            <thead>
            <tr> 
            <th>Name</th>
            <th>PlaceHolder</th>
            <th>Required</th>
            <th>Type</th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat = "item in section.fields track by $index">
            <td> {{item.name}} </td>
            <td> {{item.placeholder}} </td>
            <td> {{item.required}} </td>
            <td> {{item.type}} </td>
            <td class="col-sm-1">  <i class="pull-right btn btn-danger btn-xs" ng-click="deleteElement(processSec, $index, section)" style="margin-right: 10px;"><span class="glyphicon glyphicon-remove" tooltip="Delete"></span></i> </td>
            </tr>
            </tbody>
            </table>
        </div>
        </div>
    </div>

<!-- row -->
</div>

<a ui-sref="newProcess.step_three" class="btn btn-default">Previous</a>
<a class="btn btn-success" ng-click = "saveElement(dataElements,processSec, optionFinal)" ng-disabled = "!dataElements.name || !dataElements.type || !dataElements.required">Save</a>
<!-- <a class="btn btn-info" ng-click = "showElement(processSec)"  tooltip ="View elements in sections" style="margin-right:3px;">View</a> -->
<button type="submit" class="btn btn-primary" ng-disabled = "process.sections.length < 1">Submit</button>