<!-- Delete Participant Modal -->
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Delete Participant</h3>
    <div class="actions pull-right">
      <i data-widget-toggle class="fa fa-chevron-down"></i>
    </div>
  </div>
  <div class="panel-body">
    <span class="row-fluid">
      Are you sure you want to delete {{deleteperson.displayname}}?
    </span>
  </div>
  <div class="panel-footer" style="text-align:right;">
    <button class="btn btn-primary btn-danger" ng-click="deleteParticipant()">Delete</button>
    <button class="btn btn-primary btn-info" ng-click="cancel()">Cancel</button>
  </div>
</div>